@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(17 24 39)
}

.text-header {
  padding-bottom: 8px;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  display: inline;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.text-accent {
  color: #FBAB7E;
}

.bg-accent {
  background-color: #FBAB7E;
  color: white;
}

#blog h1, #blog h2, #blog h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700;
}

#blog h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

#blog h2 {
  font-size: 1.75rem;
  line-height: 1.7rem;
}

#blog h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

#blog p, #blog ol, #blog ul {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: disc;
}

#blog li {
  margin-left: 20px;
}

#blog a {
  text-decoration: underline;
}

#blog strong {
  font-weight: 700;
}

footer {
  text-underline-offset: .2em;
}